*.dll
*.so
*.dylib
*.test
*.out
coverage.html
vendor/
go.work
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.aider*
.cursorrules
*.log
local_docs/
__debug_bin
config.yaml
data/
*debug*

.svelte-kit
node_modules
.output
.vercel
.netlify
.wrangler
*/.svelte-kit
/build
Thumbs.db
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.env
